{% extends "home/layout.html" %}
{% load static %}

{% block head %}

<style>

    #bottom-padding {
        display:none;
    }

    #contentsheet {
        height: 600px; 
        padding-left: 10%; 
        padding-right: 10%;
        background-color: white;
    }


    #parallaximg {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: url("{% static 'home/bg.jpg' %}") !important;
    }
    
    .column {
        text-align: center;
    }

</style>
{% endblock %}

{% block body %}
{% load static %}
    <div id="parallaximg"></div>
    <div >
    <div id="contentsheet" class="ui two column grid" style="margin-top: 600px;">
        <div style="padding: 100px;" class="column">
            <h1 class="titles" style="color: var(--greytext)"><br>Ontdek het vak informatica met de interactieve taal Scratch</h1>
        </div>
        <div class="column" style="padding: 100px;">
            <img style="height: 450px;" src="{% static 'home/logo-scratch.png' %}">
        </div>
    </div>
    <div id="contentsheet" class="ui two column grid" style="background-color: var(--accent1);">
        <div style="padding: 100px;" class="column">
            <h1 class="titles" style="color: white"><br>Leer de basis van soft- en hardware met de taal C.</h1>
        </div>
        <div class="column" style="padding: 100px; text-align: center;">
            <img style="height: 450px;" src="{% static 'home/logo-c.png' %}">
        </div>
    </div>
    <div id="contentsheet" class="ui two column grid" style="background-color: white;">
        <div style="padding: 100px;" class="column">
            <h1 class="titles" style="color: var(--greytext)"><br>Verdiep en gebruik jouw kennis met Python</h1>
        </div>
        <div class="column" style="padding: 100px; text-align: center;"><br>
            <img style="width: 100%;" src="{% static 'home/Python-logo.png' %}">
        </div>
    </div></div>
    <!--<div id="fatbottom">
        <h1>Dikke legal information hiero en linkjes, misschien wat sources ofzo idfk. Kleur is ook acht tantoe lelijk maar boeie komt goed</h1>

    </div>-->

{% endblock %}