{% extends "home/layout.html" %}

{% block head %}
<style>
    #body {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
    }

    .field {
        border: 1px solid black;
        border-radius: 5px;
    }
    #submit {
        border: 2px solid #fbb947;
        border-radius: 50px;
        padding: 2px 8px;
    }
</style>
{% endblock %}

{% block body %}
<div id="body">
    <h1 class="display-1">Log in</h1><br>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
                <p>
                    <label for="id_username">Username:</label> <br> <span class="field"><input type="text" name="username" maxlength="150" autocapitalize="none" autofocus required id="id_username"></span>                   
                    <br><span style="color: red;">This field is required.</span>
                </p>
                <p>
                    <label for="id_password1">Password:</label> <br> <span class="field"><input type="password" name="password" required id="id_password1"></span>
                        <br><span style="color: red;">This field is required.</span>
                </p>
            <button type="submit" id="submit">Sign up</button>     
        </form>
</div>
{% endblock %}

