{% extends "home/layout.html" %}

{% block head %}
<script>

    $(document).ready(function() {
        //hide login button
        $("#logbtn").hide();
    })
</script>

<style>
    #body {
        margin: auto;
        margin-top: 200px;
        width: 600px;
        background-color: white;
        text-align: center;
        border-radius: 4px;
        padding: 50px;
        box-shadow: var(--shadow-2);
    }

</style>
{% endblock %}

{% block body %}
<div id="body">
    <h1 class="titles" style="color: var(--greytext);">Log in</h1><br>
    <form action="{% url 'login' %}" method="post">
        <div class="ui form">
            {% csrf_token %}

            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}

            <div class="field" style="max-width: 240px; margin-left: auto; margin-right: auto;">
            <label style="color:var(--greytext);">Username</label>
            <input type="text" name="username" label="Username" autofocus>
            </div>
            <div class="field" style="max-width: 240px; margin-left: auto; margin-right: auto;">
            <label style="color:var(--greytext);">Password</label>
            <input type="password" name="password" label="Password">
            </div>
            <div style="width: 100%;">
            <button type="submit" value="Log in" class="ui button">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

