{% extends "home/layout.html" %}

{% block head %}
<style>
    #body {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
    }

    .field {
        border: 1px solid black;
        border-radius: 5px;
    }
    #submit {
        border: 2px solid #fbb947;
        border-radius: 50px;
        padding: 2px 8px;
    }
</style>
{% endblock %}

{% block body %}
<div id="body">
    <h1 class="display-1" style="text-align: center;">Register</h1><br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }} <br> <span class="field">{{ field }}</span>

                {% for error in field.errors %}
                    <br><span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" id="submit">Sign up</button>     
    </form>
</div>
{% endblock %}

