{% extends "home/layout.html" %}

{% block body %}
<div id="body">
    <h1 class="display-1" style="text-align: center;">Register</h1><br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }} <br> <span class="field">{{ field }}</span>

                {% for error in field.errors %}
                    <br><span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" id="submit">Sign up</button>     
    </form>
</div>
{% endblock %}

