{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>GP - {% block title %}{% endblock %}</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

  <script src="{% static 'home/user.js' %}"></script>
  <link rel="stylesheet" href="{% static 'home/user.css' %}">


  {% block head %}
  
  {% endblock %}

  <script>


    
  </script>

  <style>
  

  
  </style>
</head>
<body>
  <div style="height: 100%; width: 100%; position: fixed; background-color: grey;">
    <div class="ui inverted vertical menu grid" id="verticalnav" style="z-index: 9;">
      <div class="navitem row">
        <i class="icon home" style="font-size: 2.5em; margin: auto; margin-top: 12px;"></i>
      </div>
      <div class="navitem row">
        <i class="icon compass" style="font-size: 2.5em; margin: auto; margin-top: 12px;"></i>
      </div>
      <div class="navitem row">
        <i class="icon book" style="font-size: 2.5em; margin: auto; margin-top: 12px;"></i>
      </div>
      <div class="row" style="height: calc(100% - 320px);"></div>
      <div class="navitem row">
        <i class="arrow alternate circle left icon" style="font-size: 2.5em; margin: auto; margin-top: 12px;"></i>
      </div>
      <div class="navitem row">
        <i class="cog icon" style="font-size: 2.5em; margin: auto; margin-top: 12px;"></i>
      </div>
    </div>
    <div id="expandednav" style="z-index: 8;">
      <div class="ui vertical buttons" style="width: 100%;">
        <a href="{% url 'user' %}">
          <div class="ui button navbtn" style="border-radius: 0px 16px 0px 0px;">
            <h2 class="navtext">Home</h2>
          </div>
        </a>
        <a href="/files">
          <div class="ui button navbtn" style="border-radius: 0px 0px 0px 0px;">
            <h2 class="navtext">Lessen</h2>
          </div>
        </a>
        <a href="{% url 'user' %}">
          <div class="ui button navbtn" style="border-radius: 0px 0px 16px 0px;">
            <h2 class="navtext">Documentatie</h2>
          </div>
        </a>
      </div>
      <div style="height: calc(100% - 320px); width: 100%;"></div>
      <div class="ui vertical buttons" style="width:100%;">
        <a href="{% url 'logout' %}">
          <div class="ui button navbtn" style="border-radius: 0px 16px 0px 0px;">
            <h2 class="navtext">Log uit</h2>
          </div>
        </a>
        <a href="{% url 'user' %}">
          <div class="ui button navbtn" style="border-radius: 0px 0px 16px 0px;">
            <h2 class="navtext">Opties</h2>
          </div>
        </a>
      </div>
    </div>

    {% block body %}
    {% endblock %}

    {% if messages %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
      {% for message in messages %}
      toastr.{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}('{{ message|safe }}');
      {% endfor %}
    </script>
    {% endif %}


    {% if message %}
    <!-- error and succession messages-->
    <div class="ui message" id="msg" value="{{ status_code }}">
      <h4>{{ message }}</h4>
      <a onclick="closemsg()" id="closemsg">
        <i class="ui icon close"></i>
      </a>
    </div>
    {% endif %}
  </div>
</body>
</html>