{% extends "home/userlayout.html" %}
{% load static %}

{% block head %}

<script>
    $(document).ready( function() {
        $('.navbtn').eq(0).css({"background-color": "var(--accent1)", "color": "white"});

    })
</script>

{% endblock %}


{% block body %}

    <h1> Welcome, {{ request.user.username }} </h1>
    <a href="{% url 'logout' %}">Logout</a></br></br>
    <a href="/files">Files</a>

    {% if course %}
        <p>How fun! You are already following a course of ours!</p>
        <p>Click <a href="{% url 'latestpage' %}">here</a> to go back to your latest page!</p>
    {% else %}
        <p>Pity! You're not following a course of ours, yet...</p>
        <p>
            <form action="{% url 'user' %}" method="post">
                {% csrf_token %}
                <select id="choose_course" name="chosen_course">
                    <option selected="true" disabled="disabled">Choose a course</option>
                    {% for c in courselist %}
                        <option value="{{ c.name }}" >{{ c.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Start course</button>
            </form>
        </p>
    {% endif %}

    

    <ul>
    {% for path in pathslist %}
        <li>
            <a href="{% url 'fileview' path.path.chapterpath path.path.path %}">{{ path.path.title }}</a>
            {% if path.completed %} (completed) {% else %} {% endif %}
        </li>
    {% endfor %}
    </ul>

    {% if course %}
    <form method="get" action="{% url 'leavecourse' %}">
        <button type="submit">Finish course</button>
    </form>
    {% endif %}

{% endblock %}