{% extends 'home/base.html' %}

{% block page_title %}
  GP - {% block title %}{% endblock %}
{%endblock%}

{% block page_head %}
  {% block head %} {% endblock %}
{% endblock %}


{% block page_body %}
    <div class="ui inverted vertical grid" id="verticalnav" style="z-index: 9;">

      <div class="navitem row">
        <i class="icon home"></i>
      </div>

      <div class="navitem row">
        <i class="icon compass"></i>
      </div>
      <div class="navitem row">
        <i class="icon book"></i>
      </div>
      <div class="row" style="height: calc(100% - 320px);"></div>
      <div class="navitem row">
        <i class="arrow alternate circle left icon"></i>
      </div>
      <div class="navitem row">
        <i class="cog icon"></i>
      </div>
    </div>


    <div id="expandednav">

      <a class="navlink" href="{% url 'user' %}">
        <div class="ui button navbtn" style="border-radius: 0px 16px 0px 0px;">
          <h2 class="navtext">Home</h2>
        </div>
      </a>

      <a class="navlink" href="{% url 'file_index' %}">
        <div class="ui button navbtn" style="border-radius: 0px 0px 0px 0px;">
          <h2 class="navtext">Lessen</h2>
        </div>
      </a>

      <a class="navlink" href="{% url 'user' %}">
        <div class="ui button navbtn" style="border-radius: 0px 0px 16px 0px;">
          <h2 class="navtext">Documentatie</h2>
        </div>
      </a>

      <div style="height: calc(100% - 320px)"></div>

      <a class="navlink" href="{% url 'account_logout' %}">
        <div class="ui button navbtn" style="border-radius: 0px 16px 0px 0px;">
          <h2 class="navtext">Log uit</h2>
        </div>
      </a>

      <a class="navlink" href="{% url 'user' %}">
        <div class="ui button navbtn" style="border-radius: 0px 0px 16px 0px;">
          <h2 class="navtext">Opties</h2>
        </div>
      </a>
      
    </div>
    
    {% block body %}
    {% endblock %}

    {% if messages %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
      {% for message in messages %}
      toastr.{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}('{{ message|safe }}');
      {% endfor %}
    </script>
    {% endif %}
{% endblock %}