{% extends "home/userlayout.html" %}
{% load static %}

{% block head %}
<script>

    // Fires when the DOM has finished loading
    $(document).ready( function() {
        // Changes the background color of the first vertical navbar item
        $('.navbtn').eq(0).css({"background-color": "var(--accent1)", "color": "white"});
        $('.navlink').eq(0).addClass('disabled');
        $('.navlink').eq(0).click(function(e) { e.preventDefault(); });
    })
</script>
{% endblock %}

{% block title %} Welkom! {% endblock %}


{% block body %}
    <div class="flexbox">
        <div class="flex-item">
            <h1> Welkom, {{ request.user.username }} </h1>

            {% if chapter %}

                <p>Leuk dat je al een les van ons volgt!</p>
                <p>Klik <a href="{% url 'latestpage' %}">hier</a> om direct te gaan leren!</p>

            {% else %}

            <p>Helaas! Je volgt nog geen lessen van ons.</p>

            <p>
                <form action="{% url 'user' %}" method="post">
                    {% csrf_token %}
                    <select id="choose_course" name="chosen_chapter">
                        <option selected="true" disabled="disabled">Kies een les</option>
                        {% for c in chapters %}
                            <option value="{{ c.path }}" >{{ c.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Start de les</button>
                </form>
            </p>

            {% endif %}
        </div>

        {% if chapter %}
        <div class="flex-item">
            <h3>Lessen</h3>
            <ul>
            {% for page, completed in progresses.items %}
                <li>
                    <a href="{% url 'fileview' page.chapterpath page.path %}">{{ page.title }}</a>
                    {% if completed %} (completed) {% endif %}
                </li>
            {% endfor %}
            </ul>

            <form method="get" action="{% url 'leavecourse' %}">
                <button type="submit">Maak de les af</button>
            </form>
        </div>      
        {% endif %}

    </div>
{% endblock %}