{% extends "files/layout.html" %}
{% load static %}


{% block head %}
<script src="{% static 'files/mc-question.js' %}"></script>
<script src="{% static 'files/open-question.js' %}"></script>
<link href="{% static 'files/questions.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">

<script>
    hljs.initHighlightingOnLoad();
</script>
{% endblock %}

{% block title %} {{file.title }} {% endblock %}

{% block body %}

<script type="text/javascript">
    function getdocs(term) {
        const docs = document.getElementById("docs").value;
        o = JSON.parse(`${docs}`)
        const text = o[`${term}`]
        document.querySelector("#documentation").innerHTML = text

        const documentation = document.getElementById("sidebar")
        documentation.style.display = "block";
        const lesson = document.getElementById("lesson")
        lesson.style.width = "75%";
    }
    function gaweg() {
        const d = document.getElementById("sidebar");
        d.style.display = "none";
        const l = document.getElementById("lesson");
        l.style.width = "70%";
    }

</script>

<style>
    body {
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        font-family: sans-serif;
    }
    #documentation {
        padding: 10px;
    }

    #sidebar {
        width: 35%;
    }

    .button {
        font-weight: bold;
        background-color: transparent;
        border: 0px;
        margin: 0px;
        padding: 0px;
        font-size: 18px;
    }
    #footer {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: auto;
        top: auto;
    }
    #lesson {
        width: 70%;
        background-color: white;
        margin: auto;
        padding: 10px;
    }
    #body {
        height: 100%;
        background-color: lightgray;
        display: flex;
    }
    code {
        border: 1px solid lightgray;
        background-color: lightgray;
        
    }
</style>
<div id="body">
    <div id="lesson">
        <button onclick="get_html(`index`)">kijk!</button>
        {% autoescape off %}
            {{ file.file }}
        {% endautoescape %}
        <form method="post" action="{% url 'progress' %}" style=" width: 100px; margin: auto;">
            {% csrf_token %}
            <input type="hidden" value="{{ file.path }}" name="path">
            <input type="submit" value="completed">
        </form>
    </div>
    <div id="sidebar" style="display: none;">
        <button class="button" onclick="gaweg()"> x </button>
        <div ><a id="link2docs" href="" target="_blank">open in page</a></div>
        <div id="documentation">
            Hi!
        </div>
    </div>
    
</div>

{{ docs }}
<input type="hidden" id="docs" name="docs" value="{{ docs }}">

<script>
    function get_html(url) {
        fetch(`/docs/${url}`).then(function (response) {
            const r = response.text()
	        return r
        }).then(function (html) {
            console.log(html)
            document.getElementById("documentation").innerHTML = html;
            document.getElementById("link2docs").href = `/docs/link/${url}`;
        }).catch(function (err) {
	        console.warn('Something went wrong.', err);
        });

        const documentation = document.getElementById("sidebar")
        documentation.style.display = "block";
        const lesson = document.getElementById("lesson")
        lesson.style.width = "75%";
    }
</script>

{% endblock %}
