{% extends "home/userlayout.html" %}
{% load static %}
{% load cache_bust %}
{% load markdownify %}



{% block head %}

<style>
    #overwrite-html, #overwrite-body {
        padding: 0;
    }
</style>



<script src="{% static 'files/script.js' %}?{% cache_bust %}"></script>
<link rel="stylesheet" href="{% static 'files/styles.css'%}?{% cache_bust %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/katex-copytex@latest/dist/katex-copytex.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/markdown.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">

{% endblock %}

{% block title %} {{ file.title }} {% endblock %}


{% block body %}
    <div id="lesson">
        <button onclick="get_html(`index`)">Open documentatie</button>

        {% autoescape off %}
            {{ file.file }}
        {% endautoescape %}


        <!-- {% if file_in_course %} -->    
            <form method="post" action="{% url 'progress' %}" style=" width: 100px; margin: auto;">
                {% csrf_token %}
                <input type="hidden" value="{{ file.path }}" name="path">
                
                <button class="ui circular icon button" id="completebutton" type="submit" value="completed"><i class="check icon" ></i></button>
            </form>
        {% endif %}
    </div>

    <div id="sidebar" style="display: none;">
        <button style="position: fixed;" class="button" onclick="gaweg()"> x </button><br>
        <div style="position: fixed;"><a id="link2docs" href="" target="_blank">open in page</a></div>
        <div id="documentation" style="position: fixed; margin-top: 10px;"></div>
    </div>
    

<input type="hidden" id="docs" name="docs" value="{{ docs }}">
{% endblock %}
