{% extends "home/userlayout.html" %}
{% load static %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/googlecode.min.css">

<script src="{% static 'files/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'files/styles.css'%}">

<script>
    hljs.initHighlightingOnLoad();
</script>

{% endblock %}

{% block title %} {{ file.title }} {% endblock %}


{% block body %}
<div id="body">
    <div id="lesson">
        <button onclick="get_html(`index`)">Open docs</button>

            {{ file.file|safe }}


        <!-- {% if file_in_course %} -->    
            <form method="post" action="{% url 'progress' %}" style=" width: 100px; margin: auto;">
                {% csrf_token %}
                <input type="hidden" value="{{ file.path }}" name="path">
                
                <button class="ui circular icon button" id="completebutton" type="submit" value="completed"><i class="check icon" ></i></button>
            </form>
        {% endif %}
    </div>

    <div id="sidebar" style="display: none;">
        <button style="position: fixed;" class="button" onclick="gaweg()"> x </button><br>
        <div style="position: fixed;"><a id="link2docs" href="" target="_blank">open in page</a></div>
        <div id="documentation" style="position: fixed; margin-top: 10px;"></div>
    </div>
    
</div>

<input type="hidden" id="docs" name="docs" value="{{ docs }}">
{% endblock %}