{% extends "home/userlayout.html" %}

{% block title %} Alle lessen {% endblock %}

{% block head %}
<script>

    // Fires when the DOM has finished loading
    $(document).ready( function() {
        // Changes the background color of the first vertical navbar item
        $('.navbtn').eq(1).css({"background-color": "var(--accent1)", "color": "white"});
        $('.navlink').eq(1).addClass('disabled');
        $('.navlink').eq(1).click(function(e) { e.preventDefault(); });
    })
</script>



{% endblock %}

{% block body %}
<div id="body" >
    <h2><a href="{% url 'latestpage' %}">Terug naar mijn laatste les</a></h2>

    <h1>Alle lessen</h1>

    <ul>
        {% for chapterpath, tuples in pagedict.items %}
        <li>{{ chapterpath }}</li>
        <ul>
                {% for tuple in tuples %}
                    <li><a href="{% url 'fileview' chapterpath tuple.0 %}">{{ tuple.1 }}</a></li>
                {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</div>
{% endblock %}