{% extends "files/layout.html" %}

{% block title %} List of files {% endblock %}

{% block body %}

{% if lptrue %}
    <h2>Jump back to your <a href="{% url 'latestpage' %}">latest page</a>!</h2>
{% endif %}

<h1>A list of the files</h1>

<ul>
    {% for chapterpath, paths in pathsdict.items %}
       <li>{{ chapterpath }}</li>
       <ul>
            {% for path in paths %}
                <li><a href="{% url 'fileview' chapterpath path %}">{{ path }}</a></li>
            {% endfor %}
       </ul>
    {% endfor %}
</ul>



{% endblock %}