<h1>Les 1: De eerste functie</h1>

<p>
    Vorige les hebben we geleerd hoe we programma's kunnen runnen en aanpassen door de online tool Replit te gebruiken. 
    Deze les gaan we leren hoe je ook daadwerkelijk code zelf kan maken. Daarvoor moeten we het eerst hebben over 
    functies.
</p>

<p>
    In de wiskunde ken je een functie al: bijvoorbeeld <code>f(x) = 3x</code>, dit betekent dat wat ik in de functie stop, 
    bijvoorbeeld 4, er 3 keer zo groot uit komt: <ode>f(4) = 3 * 4 = 12</code>. Een functie is een stappenplan die een bepaalde input 
    heeft en op basis van het stappenplan een output genereerd. In dit geval is het stappenplan <code>3x</code> waar x de input is. 
    Dus als ik een input van <code>4</code> heb, krijg ik <code>3 * 4</code> als output. Ook in de informatica hebben we functies, alleen gebruiken 
    we ze ietsje anders. Als eerste hebben functies een naam, niet een letter zoals in de wiskunde. Daarnaast moeten we 
    ook het <button class="button" onclick="getdocs('datatype')">datatype</button> van de in- en output specifiëren. In het geval van de wiskundige functie hierboven bestaan de input 
    en output altijd uit een getal. In de informatica noemen we dat een <button class="button" onclick="getdocs('integer')">integer</button>, afgekort "int" (Engels voor geheel 
    getal). Maar we kunnen ook anderen types hebben. Stel je bijvoorbeeld de functie <code>alfabetiseer</code> voor, deze heeft als 
    input een integer, maar als output is het de letter die op die plek in het alfabet zit. Voorbeeldje: als je <code>4</code> input 
    krijg je <code>d</code> en als je <code>2</code> input krijg je <code>b</code>, omdat d de 4e letter van het alfabet is en b de 2e. Het datatype van een 
    letter of karakter heet een <button class="button" onclick="getdocs('character')">character</button> (afgekort "char") Andere types waar je uit kunt kiezen zijn kommagetallen 
    ("<button class="button" onclick="getdocs('float')">float</button>"), waar/nietwaar ("<button class="button" onclick="getdocs('boolean')">bool</button>") en meerdere chars samen: een stuk tekst ("<button class="button" onclick="getdocs('string')">string</button>"). Het is handig om te weten welk 
    datatype een stukje data is, omdat de computer er anders niks mee kan. Als ik <code>79</code> als data heb kan dat slaan op het 
    getal 79 of de letter V. Onthoud dat de computer ASCII gebruikt om letters op te slaan (Hoofdstuk 0). Hoofdletter V 
    heeft als ASCII waarde 79.
</p>

<p>
    Elk programma in C begint met een functie die <code>main</code> heet. Als je het programma runt door op de run-knop te drukken 
    gaat de functie <code>main</code> automatisch zichzelf uitvoeren. De input voor functie main is niets, de functie moet gewoon 
    gaan runnen. Functies hoeven dus niet perse een input te hebben; denk bijvoorbeeld aan de functie "zet 10 stappen", 
    dat moet gewoon gebeuren, daarvoor heb je geen input nodig. De output van main is een integer, dit is de <button class="button" onclick="getdocs('exitcode')">exit-code</button>. 
    Als het programma succesvol runt stuurt main automatisch naar de computer <code>0</code> terug als output, als er een error komt 
    stuurt hij <code>1</code> terug. Zo weet de computer of de functie is gelukt of niet. Dus als we dit dus samenvoegen hebben we de 
    volgende drie kenmerken van de hoofdfunctie:
    <ul>
        <li>naam: <code>main</code></li>
        <li>input type: <code>void</code> (Engels voor leegte; niks)</li>
        <li>output type: <code>int</code></li>
    </ul>
</p>

<p>
    De syntax voor het maken van een functie is als volgt: <code>output naam(input)</code>. Om de functie <code>main</code> te maken 
    typ je dus <code>int main(void)</code>. In C gebruiken we accolades: { en }  om aan te geven waar de functie begint en waar hij eindigt. Je krijgt dus 
    het volgende:
    <pre><code>int main(void)
{
    // Jouw programma
}</code></pre>
</p>

<p>
    In Hoofdstuk 0 hebben we het gehad over twee aspecten van programmeren:
    <ul>
        <li>Of je programma werkt: correctness</li>
        <li>Hoe goed je programma werkt: design</li>
    </ul>
    De eerste hield in dat het programma deed wat de bedoeling was. De tweede hield in dat je programma op een efficiënte 
    wijze de stappen uitvoerde en je jezelf niet herhaalde. Naast die 2 komt nu het 3e aspect: stijl (style). Programmeren gaat 
    niet alleen om het maken van een goed en werkend programma. Vaak maak je programma's niet alleen en is het belangrijk 
    dat anderen je code begrijpen. Daarom is het handig om je aan stijl-richtlijnen te houden. Zo zet je altijd een 
    accolade op een nieuwe regel en de code die daarbij hoort op een regel daaronder. Ook gebruikt je TAB (boven CAPS 
    LOCK) om je code binnen de accolades in te springen (zie voorbeeld hierboven). Zo is het heel duidelijk welke code 
    wel en welke niet bij een bepaalde functie hoort. 
</p>

<p>
    Gelukkig hoeven we niet alle functies zelf te maken. C komt al met veel functies 'out of the box'. Een van de functies die je het vaakst 
    gebruikt tijdens het programmeren heet <code>printf</code>. Dit is een functie die als input een <code>string</code> heeft en als output weer zo'n <button class="button" onclick="getdocs('exitcode')">exit-code</button>. De 
    functie print een de input in de terminal, zodat je als programmeur of gebruiker feedback krijgt van het programma. Vorige les hebben we 
    dit programma als voorbeeld gebruikt:
</p>

<iframe height="400px" width="100%" src="https://replit.com/@126511/hallo-1?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>

<p>
    Je ziet hier op regel 3 al <code>int main(void)</code> staan met daaronder accolades. De code die bij de functie <code>main</code> hoort staat 
    daartusen. <code>printf("Hallo!");</code>. Hier zie je gelijk hoe je een functie gebruikt. Eerst komt de naam, met 
    daarachter de input tussen haakjes. De input noemen we vaak ook <button class="button" onclick="getdocs('argument')">arguments</button>arguments. Als een functie meerdere arguments heeft 
    geef je dat als volgt weer: <code>optellen(3, 4)</code>. Dit zou als output 7 hebben. Een input van een getal mag je gewoon zo 
    neerzetten, maar een getal kan ook onderdeel zijn van een string, daarom maken we onderscheid tussen getallen en 
    strings door strings te omgeven met aanhalingstekens. <code>Hallo!</code> Is een stuk tekst en dus een string en daaromheen zetten 
    we "". Je mag ook enkele aanhalingstekens (') gebruiken, als je maar begint en eindigt met dezelfde! Aan het einde 
    van elke regel C komt een puntkomma (;), zo weet de computer dat hij naar de volgende zin kan. 
</p>

<p>
    Nu kijken we nog even kort naar regel 1: <code>#include &ltstdio.h&gt</code>. Zoals we al zeiden: C komt standaard met 
    wat leuke functies die jij kan gebruiken, maar het uitprinten van een string hoort daar niet bij. Daarom moeten 
    we die functie printf even importeren: zo weet de computer welke stappen horen bij het gebruiken van printf. 
    Functies die je kan importeren staan in een header-file (eindigend op .h). <code>stdio</code> staat voor Standard Input 
    Output en de functies daarvan staan in het bestand <code>stdio.h</code>. Zo'n verzameling aan functies noemen we een <button class="button" onclick="getdocs('library')"></button>library 
    (Engels voor bibliotheek). Om aan te geven welke libaries je wilt gebruiken gebruikt je de syntax 
    <code>#include &ltnaam.h&gt</code>.
</p>

<p><strong>
    Opdracht: Fork deze ReplIt en schrijf er een programma in die een zin uitprint waarin jij jezelf voorstelt. 
    Druk op Run om hem te testen. Weet je niet meer hoe Repl werkt? Kijk dan even terug naar Les 0.
</strong></p>

<iframe height="400px" width="100%" src="https://replit.com/@126511/opdracht-h1-les1?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>