<div style="display: flex; height: 100%">
    <div id="lesson">
        <h1>Welcome to Lesson 1!</h1>
        <p>In the <button class="" onclick="getdocs('terminal')">terminal</button> you'll type <code>pip install submit50</code>.</p>
        <p>This will <button class="button" onclick="getdocs('fetch')">fetch</button> your code from the server of repl and send it to <a href="https://submit.cs50.io/">submit.cs50.io</a>.</p>
        <p>You can review the scores of the <button class="button" onclick="getdocs('psets')">problem sets </button>in a few seconds there too!</p>
    </div>
<div id="sidebar" style="display: none;">
<button class="button" onclick="gaweg()"> x </button>
    <div id="documentation">
        Hi!
    </div>
</div>
    </div>