<h1>Welcome to Lesson 1!</h1>
    <p>In the <button class="" onclick="getdocs('terminal')">terminal</button> you'll type <code>pip install submit50</code>.</p>
    <p>This will <button class="button" onclick="getdocs('fetch')">fetch</button> your code from the server of repl and send it to <a href="https://submit.cs50.io/">submit.cs50.io</a>.</p>
    <p>You can review the scores of the <button class="button" onclick="getdocs('psets')">problem sets </button> in a few seconds there too!</p>


<div class="open" id="open1">
    <h3>What is 3 + 4?</h3>
    <div>
        <input type="text" id="open1_input">
        <div class="answer" id="open1_answer">7</div>
    </div>
    <button class="check" id="open1_check" onclick="open_check('open1')">Check</button>
    <button class="retry" id="open1_retry" onclick="open_retry('open1')">Retry</button>
    <button class="show_answer" id="open1_show_answer" onclick="open_show_answer('open1')">Show answer</button>
    <div class="explanation" id="open1_explanation">
        If we add up 3 to 4 we get 7 n00bs, otherwise use a <button class="button" onclick="getdocs('computer')">computer</button>.
    </div>       
</div>