<!-- MULTIPLE CHOICE QUESTION MARKUP -->
<div class="multiplechoice">
            
    <!-- Title for the MC Card -->
    <h1 class="questiontitle">Question??</h1>

    <!-- What one radio button would look like -->
    <div class="ui radio checkbox">
        <input type="radio" name="mcquestion">
        <label id="checkboxtext">Test1</label>
    </div><br>

    <!-- Do not forget to add value="correct" to one of the radio buttons -->
    <div class="ui radio checkbox">
        <input type="radio" name="mcquestion" value="correct">
        <label id="checkboxtext">Test2</label>
    </div><br>
    <div class="ui radio checkbox">
        <input type="radio" name="mcquestion">
        <label id="checkboxtext">Test3</label>
    </div><br>
    <div class="ui radio checkbox">
        <input type="radio" name="mcquestion">
        <label id="checkboxtext">Test4</label>
    </div><br>

    <!-- Copy paste these buttons -->
    <button onclick="checkmc()" class="ui button" id="checkanswer">Check</button>
    <button onclick="retrymc()" class="ui button" id="retryanswer" style="display: none;">Opnieuw</button>
    <button onclick="showanswer()" class="ui button" id="showanswer" style="display: none;">Antwoord</button>
    
    <!-- Correct answer can be put over here, do not make it too long, or else it might overflow -->
    <div class="correctanswer">
        This is the correct answer because I made it like thatt
    </div>
</div>





<!-- Copy Paste Version -->

<div class="multiplechoice">
    <h1 class="questiontitle">Question??</h1>

    <div class="ui radio checkbox">
        <input type="radio" name="mcquestion" value="correct">
        <label id="checkboxtext">Test1</label>
    </div><br>

    <button onclick="checkmc()" class="ui button" id="checkanswer">Check</button>
    <button onclick="retrymc()" class="ui button" id="retryanswer" style="display: none;">Opnieuw</button>
    <button onclick="showanswer()" class="ui button" id="showanswer" style="display: none;">Antwoord</button>
    <div class="correctanswer">
        This is the correct answer because I made it like thatt
    </div>
</div>