<!-- OPEN QUESTION MARKUP -->
<div class="openquestion">

    <!-- Title for the question -->
    <h1 class="questiontitle">Question??</h1>

    <!-- Input field -->
    <div class="ui input" style="margin-bottom: 8px;">
        <input type="text" placeholder="Antwoord" id="ocanswer">
    </div><br>

    <!-- All the buttons, change the value of checkocanswer to be the answer of the question -->
    <button onclick="checkoc()" class="ui button" id="checkocanswer" value="QUESTIONANSWER">Check</button>
    <button onclick="retryoc()" class="ui button" id="retryocanswer" style="display: none;">Opnieuw</button>
    <button onclick="showoc()" class="ui button" id="showocanswer" style="display: none;">Antwoord</button>
    
    <!-- Correct answer can be put over here, do not make it too long, or else it might overflow -->
    <div class="correctocanswer">
        This is the correct answer because I made it like thatt
    </div>
</div>



<!-- Copy Paste Version -->

<div class="openquestion">
    <h1 class="questiontitle">Question??</h1>
    <div class="ui input" style="margin-bottom: 8px;">
        <input type="text" placeholder="Antwoord" id="ocanswer">
    </div><br>
    <button onclick="checkoc()" class="ui button" id="checkocanswer" value="QUESTIONANSWER">Check</button>
    <button onclick="retryoc()" class="ui button" id="retryocanswer" style="display: none;">Opnieuw</button>
    <button onclick="showoc()" class="ui button" id="showocanswer" style="display: none;">Antwoord</button>
    <div class="correctocanswer">
        This is the correct answer because I made it like thatt
    </div>
</div>