{% extends "home/userlayout.html" %}

{% block title %}Jouw scores{% endblock %}

{% block head %}
<style>
    #body {
        width: 70%;
        background-color: white;
        margin: auto;
        padding: 64px;
        /*padding-right: 0px;  ~vincent */
        margin-right: auto;
        margin-left: auto;
    }
</style>
{% endblock %}

{% block body %}
<div id="body">
    <h1>Files</h1>
    <ul>
    {% for file in f %}
        <li>
            <a href="/submit/files/{{ file.input.pk }}/{{ file.name }}">{{ file.name }}</a>
        </li>
    {% endfor %}
</ul>
</div>
{% endblock %}