{% extends "home/userlayout.html" %}

{% block title %}Jouw scores{% endblock %}

{% block head %}
<style>
    #body {
        width: 70%;
        background-color: white;
        margin: auto;
        padding: 64px;
        /*padding-right: 0px;  ~vincent */
        margin-right: auto;
        margin-left: auto;
    }
</style>
{% endblock %}

{% block body %}
<div id="body">
    <h1>Scores van {{ user.username }}</h1>
    {{ results }}
    {% for course, scores in results.items %}
        <h3>{{ course }}</h3>
        <ul>
            {% for problem in scores %}
                <li><strong>{{ problem.0 }}</strong>: passed {{ problem.1 }}/{{ problem.2 }} tests <a href="/submit/submission/{{ user.username }}/{{ course }}/{{ problem.0 }}">see submissions</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}