{% extends "home/userlayout.html" %}

{% load extra_dict %}

{% block title %}Jouw scores{% endblock %}

{% block head %}
<style>
    #body {
        width: 70%;
        background-color: white;
        margin: auto;
        padding: 64px;
        /*padding-right: 0px;  ~vincent */
        margin-right: auto;
        margin-left: auto;
    }
</style>
{% endblock %}

{% block body %}
<div id="body">
    <h1>Scores van {{ user.username }} voor {{ problem }}</h1>

    {% for input in inputs %}

        <h3> 
            Your result from {{input.0.datetime }}: 
            {% for file in input.1 %}
                <a href="/submit/files/{{ input.0.pk }}/{{ file.name }}">{{ file.name }}</a>
            {% endfor %}

        </h3>
        <ul>
        {% for test in input.0.result|get_item:"results" %}
            {% if test|get_item:"passed" %}
            <span style="color: green">
            {% else %}
            <span style="color: red">
            {% endif %}
                <li>{{ test|get_item:"name" }} --> {{ test|get_item:"description" }}<br><blockquote style="background-color: lightgrey;">
                    {% for line in test|get_item:"log" %}
                        <code>{{ line }}</code><br>
                    {% endfor %}</blockquote>
                </li>
            </span>
        {% endfor %}
        </ul>
    {% endfor %}

</div>
{% endblock %}