:root {
  --accent1: #fbb947;
  --accent1-lighten:#fccd7d;
  --accent1-darken: #fba918;
  --accent2: #fb4789;
  --white-darken: #f0f0f0;
  --greytext:  #616161;
  --success: rgb(37, 199, 86);
  --error: rgb(255, 72, 0);
  --shadow-2: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  --shadow-3: 0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12), 
              0 16px 16px rgba(0,0,0,0.12),
              0 32px 32px rgba(0,0,0,0.12);
}

body {
  font-family: 'Roboto','Times New Roman', Times, serif;
  background-color: grey;
  margin: 0px;
  padding: 0;
  /* weird fix to avoid scrolling when page fits on screen */
  height: 70%;
}

#center_body {
  margin: 200px auto 0px auto;
  width: 600px;
  background-color: white;
  text-align: center;
  border-radius: 4px;
  padding: 50px;
  box-shadow: var(--shadow-2);
}

#bottom-padding {
  height: 50%;

}

/* div containing login and register button */
.navbarright {
  position: absolute;
  right: 0;
  text-align: right;
  background-color: var(--accent1);  
}

/* class for login and register button */
.navbarrightitem {
  margin: 6px;
  height: 44px;
  width: 160px;
  background-color: white;
  border-width: 0px;
  color: var(--accent1);
}

.navbarrightitem:hover {
  background-color: var(--white-darken);
}

.titles {
  font-weight: bolder;
  font-size: 4rem;
}
  
#LoginCard {
  display: none;
  position: fixed;
  width: 360px;
  height: 200px;
  right: 10%;
  top: 70px;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  box-shadow: var(--shadow-2);
  text-align: left;
  z-index: 9;
}

#navbar {
  position: fixed;
  top: 0;
  width: 80%;
  height: 60px;
  margin-left: 10%; 
  margin-right: 10%; 
  background-color: var(--accent1);
  box-shadow: var(--shadow-2);
  z-index: 9;
}
