.navtext {
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: left;
}

#verticalnav {
    position: fixed;
    top: 0;
    margin: 0px;
    height: 100%;
    width: 64px;
    background-color: var(--accent1);
    border-radius: 0px;
    box-shadow: var(--shadow-2);
    z-index: 9;
}

#expandednav {
    position: fixed;
    display: none;
    top: 0;
    left: 63px;
    height: 100%;
    width: 196px;
    background-color: white;
    border-radius: 0px 16px 16px 0px;
    box-shadow: var(--shadow-2);
    z-index: 8;
}

.navitem {
    height: 64px;
    width: 64px;
    color: white;
}

div.ui.navbtn {
    background-color: white;
    height: 64px;
    width: 100%;
    padding-top: 16px;
}

div.ui.navbtn:hover {
    background-color: var(--white-darken);
}

.icon {
    font-size: 2.5em !important;
    margin: auto !important;
    margin-top: 12px !important;
}

.flexbox {
    margin: 40px 80px;
    display: flex;
    row-gap: 80px;
    column-gap: 40px;
    flex-wrap: wrap;
}

.flex-item {
    background-color: white;
    border-radius: 4px;
    padding: 8px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

#body {
    width: 70%;
    background-color: white;
    margin: 50px auto auto 100px;
    padding: 64px;

}